/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$color-orange: #F2745F
$color-header: #EAF0FF
$color-footer: #363E50 //Aussi la couleur des liens du header
$color-input: #F4F3F3
$color-victory: #121212
$color-text: #9B9A9B
$color-text-titleBlog: #0E1112
$color-footer-input: #E1E1DF
$color-article-menu : #f0f4ff
$color-article-price: rgba(255, 255, 255, 0.85)

// Background
._bg-orange
    background-color: $color-orange !important
._bg-header
    background-color: $color-header !important
._bg-footer
    background-color: $color-footer !important
._bg-input
    background-color: $color-input !important
._bg-victory
    background-color: $color-victory !important
._bg-text
    background-color: $color-text !important
._bg-text-titleBlog
    background-color: $color-text-titleBlog !important
._bg-footer-input
    background-color: $color-footer-input !important
._bg-article-menu
    background-color: $color-article-menu !important
._bg-article-price
    background-color: $color-article-price !important
// Color
._color-orange
    color: $color-orange !important
._color-header
    color: $color-header !important
._color-footer
    color: $color-footer !important
._color-input
    color: $color-input !important
._color-victory
    color: $color-victory !important
._color-text
    color: $color-text !important
._color-text-titleBlog
    color: $color-text-titleBlog !important
._color-footer-input
    color: $color-footer-input !important
._color-article-price
    color: $color-article-price !important

/* -------------------------------------------------------------------------- */
/*                                   Sizing                                   */
/* -------------------------------------------------------------------------- */
_w-max-content
    width: max-content


// FONT
._font-lora
    font-family: "lora"!important

._font-ubuntu
    font-family: "ubuntu"!important

._line-height150
    line-height: 1.5rem !important

._line-height175
    line-height: 1.75rem !important

._line-height200
    line-height: 2rem !important