._footer
    ._icon-footer-wrapper
        margin: 0 auto
        width: 300px 
        ._icon-footer
            background-color: white
            width: 45px
            height: 45px
            border-radius: 100%
            display: flex
            justify-content: center
            align-items: center
