section
    .bg-header
        background: url("../img/banner-bg.jpg")
        background-size: cover
        background-position: center

// IMAGE ROND
#img-circle
    border: solid 10px $color-header
    border-radius: 100%