section
    .bg-header
        background: url("../img/banner-bg.jpg")
        background-size: cover
        background-position: center

    .row-card
        .bg-orange-dif
            background-color: #f78b78


